<div class="footer">
    <p class="footer_text">Kaywan Freire © 2024 – Todos os direitos reservados</p>
    <div class="footer_links">
        <a class="footer_link" href=""><img class="footer_link_img" src="../../assets/svgs/instagram-svgrepo-com.svg" alt="Instagram"></a>
        <a class="footer_link" href=""><img class="footer_link_img" src="../../assets/svgs/whatsapp-svgrepo-com.svg" alt="Wpp"></a>
        <a class="footer_link" href=""><img class="footer_link_img" src="../../assets/svgs/youtube-svgrepo-com.svg" alt="Youtube"></a>
    </div>
</div>