<section class="intro">
    <div class="intro_box">
        <h1 class="intro_title">Domine as Pistas e Realize Seus Sonhos! Torne-se um Piloto de Motocicleta com um Campeão!</h1>

        <p class="intro_text">Então este curso é para você! Com Kaka Fumaça, Campeão Brasileiro 300cc e 600cc, e instrutor experiente, você terá a oportunidade única de aprender com o melhor e alcançar seus objetivos no mundo das motos.</p>

        <div class="intro_buttons">
            <app-button></app-button>
            <app-button></app-button>
        </div>
    </div>
</section>