<section class="often">
    <img class="transicao" src="../../assets/svgs/wtransicao.svg" style="width: 100%; height: 30px; background-color: black;" alt="">
    <h3 class="often_title">Facts & Questions</h3>
    <p class="often_subtext">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>

    <div class="often_questions">
        <app-questions [idQuestion]="0" [globalQuestion]="'TESTE ?'" [globalAnswer]="'TESTE TESTE TESTE'"></app-questions>
        <app-questions [idQuestion]="1" [globalQuestion]="'TESTE ?'" [globalAnswer]="'TESTE TESTE TESTE'"></app-questions>
        <app-questions [idQuestion]="2" [globalQuestion]="'TESTE ?'" [globalAnswer]="'TESTE TESTE TESTE'"></app-questions>
        <app-questions [idQuestion]="3" [globalQuestion]="'TESTE ?'" [globalAnswer]="'TESTE TESTE TESTE'"></app-questions>
        <app-questions [idQuestion]="4" [globalQuestion]="'TESTE ?'" [globalAnswer]="'TESTE TESTE TESTE'"></app-questions>
        <app-questions [idQuestion]="5" [globalQuestion]="'TESTE ?'" [globalAnswer]="'TESTE TESTE TESTE'"></app-questions>
        <app-questions [idQuestion]="6" [globalQuestion]="'TESTE ?'" [globalAnswer]="'TESTE TESTE TESTE'"></app-questions>
    </div>

    <app-button class="button"></app-button>
</section>