<section class="main">
    <div class="main_box">
        <h1 class="main_box_title">Domine as Pistas e Realize Seus Sonhos! Torne-se um Piloto de Motocicleta com um
            Campeão!</h1>
        <iframe class="main_box_video" height="315" src="https://www.youtube.com/embed/Lhq3rfUs0Bc?si=OOc24yWwWc4sQTlK"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <app-button class="button"></app-button>
    </div>
    <!--
    <div class="main_info">
        <h2 class="main_info_title">Proximo encontro</h2>
        <div class="main_info_loc">
            <div class="main_info_loc_data">
                <img src="../../assets/svgs/hour.svg" alt="" class="main_info_loc_data_icon">
                <p class="main_info_loc_data_text">Amanhã meio Dia</p>
            </div>
            <div class="main_info_loc_data">
                <img src="../../assets/svgs/loc.svg" alt="" class="main_info_loc_data_icon">
                <p class="main_info_loc_data_text">Na casa do seu zé com o juninho</p>
            </div>
        </div>
    </div>
    -->
</section>