.cards {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards_title {
    color: white;
    background-color: transparent;

    font-size: 3rem;
    font-weight: bold;

    margin: 3rem 0;


}

.cards_box {
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 80%;
    margin-bottom: 3rem;
}

.button {
    margin: 3rem 0;
}

.transicao {
    width: 100%;
    height: 40px;
}

@media only screen and (max-width: 768px) {
    .cards_box {
        width: 100%;
        justify-content: center;
    }

    .cards_title {
        width: 80%;
        text-align: center;
    }

    #cards_box_1 {
        display: none;
    }
}