<section class="cards">
    <img class="transicao" src="../../assets/svgs/wtransicao.svg" style="width: 100%; height: 30px; background-color: black;" alt="">
    <h2 class="cards_title">Descubra o que vai acontecer</h2>
    
    <div class="cards_box">
        <app-flip-card img="./assets/cards/foto01.jpg" title="
        Como fazer uma curva" descricao="lorem descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao "></app-flip-card>
        <app-flip-card img="./assets/cards/foto02.jpg" title="
        Como fazer uma curva" descricao="lorem descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao "></app-flip-card>
        <app-flip-card img="./assets/cards/foto03.jpg" title="
        Como fazer uma curva" descricao="lorem descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao "></app-flip-card>
        <app-flip-card img="./assets/cards/foto04.jpg" title="
        Como fazer uma curva" descricao="lorem descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao "></app-flip-card>
    </div>
    
    <div class="cards_box" id="cards_box_1" style="flex-direction: row-reverse;">
        <app-flip-card img="./assets/cards/foto01.jpg" title="
        Como fazer uma curva" descricao="lorem descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao "></app-flip-card>
        <app-flip-card img="./assets/cards/foto02.jpg" title="
        Como fazer uma curva" descricao="lorem descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao "></app-flip-card>
        <app-flip-card img="./assets/cards/foto03.jpg" title="
        Como fazer uma curva" descricao="lorem descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao "></app-flip-card>
        <app-flip-card img="./assets/cards/foto04.jpg" title="
        Como fazer uma curva" descricao="lorem descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao descricao "></app-flip-card>
    </div>
    
    
    
    <app-button class="button"></app-button>
</section>
<img class="transicao" src="../../assets/svgs/transicao.svg" alt="">