<img class="transicao" src="../../assets/svgs/transicao.svg" alt="">
<section class="diff">
    <div class="diff_info">
        <h2 class="diff_info_main">Quem sou eu?</h2>
        <p class="diff_info_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend interdum aliquam. Pellentesque iaculis feugiat eleifend. Pellentesque egestas molestie finibus. Fusce ut blandit velit. Phasellus quis augue et ligula fermentum auctor non ut eros. Praesent accumsan non sapien et blandit. Sed ultricies ultrices ornare. Phasellus eleifend massa non arcu malesuada, eu tristique sapien varius. Cras quam mauris, faucibus id nulla ut, posuere bibendum orci.</p>
        <app-button></app-button>
    </div>
    <div class="diff_box">
        <img class="diff_box_img" src="../../assets/statisticas.jpg" alt="">
    </div>
</section>
 